{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>modifier un type de meuble</title>
{% endblock %}

{% block body %}
  <h2>modifier un type de meuble</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<div class="container">
  <form method="post" action="{{ url_for('admin_type_article.valid_edit_type_meuble') }}" class="m-3 p-2">
    <fieldset>
        <legend class="mb-4 ms-5 fs-3"> Modifier un type de meuble</legend>
            <input name="id" type="hidden" value="{{ type_meuble.id_type }}" class="rounded form-control" id="id">
            <label class="mb-3" for="libelle">Libelle :</label><br>
            <input type="text" name="libelle" value="{{ type_meuble.libelle_type }}" class="rounded form-control" id="libelle"><br>
        <button type="submit" class="btn btn-success btn-sm">
            modifier
            <i class="bi bi-check2-square"></i>
        </button>
        <button type="reset" class="btn btn-danger btn-sm">
            réinitialiser
            <i class="bi bi-recycle"></i>
        </button>
    </fieldset>
  </form>
</div>
{% endblock %}