{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les types de meubles</title>
{% endblock %}

{% block body %}
    <a href="/type-meuble/add">
        ajouter un type de meuble
        <i class="bi bi-plus-square"></i>
    </a>
<br>
<br>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr class="ligne_coloree">
                <th>id</th>
                <th>designation</th>
                <th>Nombre de meubles</th>
                <th>opération</th>
            </tr>
        </thead>
        <body>
        {% if types_meubles | length >= 1 %}
            {% for ligne in types_meubles %}
               <tr>
                    <td>{{ ligne.id_type }}</td>
                    <td>{{ ligne.libelle_type }}</td>


                    <td>
                        <p>{% for ligneC in compte %}
                           {% if ligneC.id_type == ligne.id_type %}
                                {{ ligneC.nbMeubles_Types }}
                           {% endif %}
                        {% endfor %}</p>
                    </td>


                    <td>
                          <div class="d-flex justify-content-around">
                              <div>
                                  <a href="/type-meuble/edit/{{ ligne.id_type }}">
                                      editer
                                      <i class="bi bi-pencil-fill"></i>
                                  </a>
                              </div>
                              <div>
                                  <a href="/type-meuble/delete?id={{ ligne.id_type }}">
                                      supprimer
                                      <i class="bi bi-trash"></i>
                                  </a>
                              </div>
                          </div>
                    </td>
               </tr>
            {% endfor %}
        {% else %}
                <tr>
                      <td>
                          <p>pas de type de meuble</p>
                      </td>
               </tr>
        {% endif %}
        </body>
    </table>
</div>
{% endblock %}